{% extends 'dogovornoy/base.html' %}
{% load static %}

{% block content %}

<!-- Recent Page Title -->
<div class="pagetitle">
    <h1>База клиентов</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
            <li class="breadcrumb-item active">База клиентов</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <form method="GET" >
                <div class="row mb-3">
                <input type="text" class="form-control" name="q" placeholder="Номер объекта">
                </div><div class="row mb-3">
                <input type="text" class="form-control" name="company_name" placeholder="Наименование компании">
                </div><div class="row mb-3">
                <input type="text" class="form-control" name="dogovor_number" placeholder="Номер договора">
                </div>
                <div class="row mb-3">
                <input type="text" class="form-control" name="gruppa_reagirovania" placeholder="Группа реагирования">
                </div>
                <button type="submit" class="btn btn-primary">Поиск по базе</button>
            </form>
        </div>
    </div>
</div>

<!-- Recent Таблица клиентов -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">

            <table class="table table-striped datatable" id="table_bazadog">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">№ дог.</th>
                    <th scope="col">№ объекта</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Тип объекта</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Итого</th>
                    <th scope="col">ИИН/БИН</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for k in klienty %}

                {% if k.date_otklulchenia %}
                <tr class="otklycheniy">
                    {% else %}
                <tr>
                    {% endif %}

                    <td>{{k.id}}</td>
                    <td>{{k.dogovor_number}}</td>
                    <td>{{k.object_number}}</td>
                    <td>{{k.klient_name}}</td>
                    <td>{{k.name_object}}</td>
                    <td>{{k.adres}}</td>
                    <td>{{k.telephone}}</td>
                    <td>{{k.itog_oplata}}</td>
                    <td>{{k.iin_bin}}</td>
                    <td><a href="{{ k.get_absolute_url }}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-folder-symlink-fill"></i>
                        </button>
                    </a></td>
                    <td><a href="{% url 'update_client' k.pk %}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </a></td>
                    <td><a href="{% url 'delete_client' k.pk %}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </a></td>
                    <td>
                        <a href="{% url 'create_dogovor' k.pk %}">
                            <button type="button" class="btn btn-secondary">
                                <i class="bi bi-newspaper"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div><!-- End Recent Sales -->
{% endblock %}
